*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --em: 1em;
    --fontColor: rgb(1, 9, 63);
}
/* Sets background color and font color*/
body{
        
        background: linear-gradient(-45deg, #e73c7e, #23a6d5, #05036b, #3ff569);
        background-size: 400% 400%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: var(--fontColor);
    
    
}
/* header has the name a picture */
header{
    display: flex;
    align-items: flex-end;
    font-size: 2em;
    flex-direction: column;
    margin: 0 1em 1em 1em;
    
   
}

/* sets anchor tags to white  */

a{
    color:white;
}

h2{
    font-size: 3em;
}
main p{
    font-size: 1.5em;
}

.center-txt{
    
   align-items: center;
}
.contact{ 
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: var(--em);
    align-items: center;
    margin: var(--em);
    padding: var(--em);

}
 .about {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: var(--em);
    align-items: center;
    margin: var(--em);
    
 

 }
.work {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: var(--em);
    align-items: center;
    margin: var(--em);
    
    
}

.work-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.main-img{
    width:100%;
    padding:1em;
}
.other-img{
    width: 50%;
    padding: 1em;
}
.img{
    position:absolute;
}

  
@media screen and (max-width: 768px){
    header{
        font-size:1.5em;
    }
    h2{
        font-size: 2em;
    }
    main p{
        font-size: 1em;
    }
    .img {
        position: relative;
    }
}
/* @media screen and (max-width: 576px) { 
    header{
        font-size:1em;
    }
    h2{
        font-size: 1em;
    }
    main p{
        font-size: 1em;
    }
}
    
  